body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 40px;
  width: 100%;
  display: flex;
  padding: 30px 50px;
  box-shadow: 0px 0px 10px 0px #000000;
  position:relative;
  z-index:0;
}

.hero{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.hero-img-collage{
  max-width: 600px;
  align-self: center;
}

.card{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.grey{
  color: #918E9B;
}

.card-image-container{
  position: relative;

}

.card-box{
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: wheat;
  border-radius: 5px;
  padding: 5px;
}

.card-img-katie{
  width: 20vw;
}

.card-img-star{
  height: 20px;
}